doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{short_title}
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/animate.css')
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    style.
      body { margin-top: 10vh; }
      img { margin-bottom: 5vh; height: 20vh; border-radius: 10%; }
  body
    div.container
      div.row.text-center
        img(src='bio_img.jpg')
      div.row.text-justify
        div.col-xs-12
          p.
            <b>Sean Hollingsead</b> has 17+ years of experience working in the fields of Information Technology and Cyber Defense. Prior to joining State Farm, he worked for a consulting firm focusing on a variety of technologies including application development, networking and information security. For the last 14 years of his career he has been working a focus on Information Security. He has been with State Farm since 2003. As part of his assignments within State Farm Sean has led multiple security teams as a team lead focused on infrastructure security and access management. Additionally Sean has been an IT Architect and Lead IT Architect In his prior assignments within State Farm. In those assignments he has designed security controls for a large business intelligence architecture, internal virtual cloud environment and an access control program. He is currently a Director responsible for access control across the enterprise. He holds the following certifications - CISSP (Certified Information Security Professional), GSEC (GIAC Security Essentials Certification), ITIL (Information Technology Infrastructure Library).
          p.text-center
            a(href='index.html#program') Back to TexSAW website
