doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    base(target='_blank')
    title #{short_title}
    link(rel='stylesheet', href='css/darkly/bootstrap.min.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/animate.css')
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    style.
      body { margin-top: 10vh; }
      span, b, a { font-size: 18px; }
  body
    div.container
      div.row.text-center
        div.col-xs-12
        h1 Software/hardware requirements for participants
        p
          span
            | There are no explicit HW requirements; attendees just need to
            | be able to run a VM which can be found <a
            | href="https://csg.utdallas.edu/texsaw/texsaw-vm.zip">here</a>.
        p
          span
            | VirtualBox is recommended to run VMs, but VMWare should work.
        p
          span
            | Please download all items so you will be ready on Friday
            | morning.
        p
          a(href='index.html#program', target='_self') Back to TexSAW website
