div.container
  div.col-md-12.text-center.bigger-text
    i.fa.fa-trophy
  div.col-md-12
    p.headline Thank you!
    p.
      We thank all participants, presenters and State Farm for making this
      event awesome! We hope to see you there for the next year!
    p.pad-before.headline Here is the list for winners of this year's CTF competition:
    div
      p.
        1st place: Logan Jones (The University of Texas at Dallas)
      p.
        2nd place: Eddy Moreno and Eligio Reyna (University of Texas at Rio
        Grande)
      p.
        3rd place: Jiwon Topper and Heidi Shaffer (The University of Texas at
        Dallas)
    //- p.pad-before.headline Photos
    //-   p
    //-     | Please&nbsp;
    //-     a(href='https://flic.kr/s/aHsm5PUa9W', target='_blank') click here
    //-     |  to view photos of the event.
    //-
