div.container
  div.col-md-12.text-center.utd-aerial
  div.col-md-8.pad-before.text-justify
    p.headline Venue
    p Located in the center of one of the most dynamic economic and demographic regions of the nation, The University of Texas at Dallas, is a young, dynamic research institution on the cutting edge of science, technology, medicine, business and the arts. Born at the dawn of the information age, UT Dallas helped pioneer new fields in science and technology and created sought-after degree programs that did not exist a generation ago. In recent years, the University's teaching mission has expanded, its external research funding has nearly doubled, its program offerings have grown and its reputation has gained notice nationally. The student body has also grown, even as quantitative markers of excellence - average entering SAT scores, graduation rates, numbers of distinguished scholarship holders and national merit scholarship winners - have moved up.
    p Student workshops and competition will take place in the <a href="http://www.utdallas.edu/locator/ECSS_2.102" target="_blank">TI Auditorium</a> located in the Erik Jonsson School of Engineering and Computer Science (ECSS).
    p <a href="http://www.utdallas.edu/directions/" target="_blank">Directions to the campus</a>
    p <a href="http://www.richardsontexas.org/" target="_blank">Learn more about Richardson, Texas</a>
  div.col-md-4.col-xs-12.pad-before
    div
      iframe.google-maps(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13387.491317219086!2d-96.7547627!3d32.9807568!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd9098b32e9aa1331!2sThe+University+of+Texas+at+Dallas!5e0!3m2!1sen!2sus!4v1505938000478')
