div.container
  div.col-md-12.text-center.bigger-text
    i.fa.fa-trophy
  div.col-md-12
    p.headline Thank you!
    p.
      We thank all participants and presenters for making this event awesome!
    p.pad-before.headline.
      Here is the list for winners of this year's CTF competition:
    div
      p.
        1st place: Matt Sanford and Hays (Hazel) Hedrick (Southwestern
        University)
      p.
        2nd place: Eduardo Posados and Jose Garza (St. Philip's College)
      p.
        3rd place: Kirby Steckel and Joseph Roybal (Southwestern University)

    p.pad-before.headline Photos
      p
        | Please&nbsp;
        a(href='https://flic.kr/s/aHsm5PUa9W', target='_blank') click here
        |  to view photos of the event.
